// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-vibe/_import.less";

// Theme
@import "theme.less";

//
// Variables
//

@theme-toolbar-background:                      darken(@global-background, 1%);

//
// WordPress
//

.hook-wordpress-misc() {

    // Button for WooCommerce
    .woocommerce-page,
    .woocommerce {

    	button.button {

            &.alt {

                background-origin: border-box;

                &:hover,
                &:focus { background-origin: border-box; }

            }

        }

    }

    .woocommerce-cart,
    .woocommerce-checkout,
    #add_payment_method {

        .wc-proceed-to-checkout {

            a.checkout-button { background-origin: border-box !important; }

        }

    }

}
