// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-juno/_import.less";

// Theme
@import "theme.less";

//
// Variables
//

@theme-toolbar-color-mode:                      dark;
@theme-toolbar-background:                      @global-muted-background;

//
// Joomla
//

.hook-joomla-misc() {

    .btn-group:not(.btn-group-vertical) > .btn + .btn {
        margin-left: -@button-border-width;
        border-left-width: 0;
    }

    .btn-group-vertical > .btn + .btn {
        margin-top: -@button-border-width;
        border-top-width: 0;
    }

    .progress .bar,
    .progress .bar + .bar { box-shadow: none; }

    .nav-pills > li > a { padding: 0 5px; }

    .nav-pills:not(.nav-stacked) > li + li { margin-left: @global-small-gutter; }

}

//
// WordPress
//

.hook-wordpress-misc() {

    .woocommerce,
    .woocommerce-page {

        .button,
        .button:hover,
        .button:focus { background-size: 200% !important; }

        .woocommerce-page input.button.alt,
        .woocommerce input.button.alt { background-position-x: 100%; }

        ul.products li.product .woocommerce-loop-product__title,
        ul.products li.product h3 {
            font-size: 20px;
            line-height: 1.4;
        }

    }

}