.uk-card-body {
  background-color: #243541;
  /* border: 1px solid #dddddd; */
  padding: 0;
  color: #ffffff;
  font-family: Roboto;
}
.uk_single_column .uk-card-body{ 
	padding-bottom: 10px;
}
.img_sec {
  background-color: #131313;
  float: left;
  height: 180px;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.img_sec > img {
  height: 110%;
  width: 100%;
}
.content-sec, .like_sec{
	padding: 10px;
	font-size: 13px;
	clear: both;
}
.content-sec .el-title{
  font-size: 15px;
  font-weight: bold;
  hyphens: auto;
  line-height: 1;
  margin-bottom: 8px;
  color: #5ec6c3;
  text-transform: none;
  font-family: Roboto Condensed;
}
.discp {
  line-height: 17px; min-height: 50px; font-family: Roboto;
}
.like_sec{border-top:1px solid #ddd; padding: 10px 10px 0;}
.like_sec {
  font-weight: 700;
  text-transform: uppercase;
}
.like_sec span{display: inline-block; margin-right: 2px;}
.liks_icons {
  float: left
}
.like_sec .el-page-like{float: right;}
.uk_single_column .btn-default{
  border-radius: 2px;
  font-size: 11px;
  line-height: 1.5;
  padding: 5px 10px;
  background-color: #ffffff;
  border:1px solid #dddddd;
  color: #333333;
}
.uk_single_column .btn-default:hover{ background-color: #ddd; }
.folder_opt {
  font-weight: 700;
  text-transform: uppercase;
}
.small_modal .modal-header {
  border-bottom: 0 none;
  padding: 25px 0 0;
}
.small_modal .modal-header .close {
  position: absolute;
  right: 15px;
  top: 10px;
}
.small_modal h4.modal-title {
  color: #767779;
  font-size: 15px;
  margin: 0;
  text-align: center;
  text-transform: none;
}

.small_modal .modal-body{
  font-size: 13px;
  height: 100%;
  padding: 4px 16px;
  position: relative;
  min-height:120px;
}
.small_modal .modal-footer {
  display: table;
  padding: 0;
  width: 100%;
  text-align: center;
}
.small_modal .modal-footer .btn{ width: 50%; background-color: transparent; border: 0; width: 48%; box-shadow: none; font-size: 11px; height: 48px; color: #000; border-radius: 0; }
.small_modal .modal-footer .btn:first-child{ border-right: 1px solid #e8e8e8; }
/* .small_modal .modal-footer .btn:first-child:hover{ background-color: #ddd; } */
.small_modal .modal-footer .btn:last-child{ color: #d9534f; }
/* .small_modal .modal-footer .btn:last-child:hover{ background-color: #d9534f; color: #ffffff; } */
div.small_modal.modal{ width: 100%; max-width: 420px; }