/**
 * Dashboard
 */
#fd .stream-blog .blog-title
{
	font-size: 16px;
}

#fd .stream-blog .blog-meta
{
	border-bottom: 1px dotted #d7d7d7;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-size: 10px;
}

#fd .stream-blog .blog-image
{
	max-width: 96px;
	border: 1px solid #d7d7d7;
	padding: 2px;
}

#fd .stream-blog .blog-image img
{
	border: 1px solid #d7d7d7;
}

#fd .es-dashboard .app-blog .blog-item + .blog-item
{
	margin-top: 20px;
	border-top: 1px solid #f6f6f6;
	padding-top: 20px;
}

#fd .es-dashboard .app-blog .blog-item .blog-image
{
	background: #fff;
	padding: 2px;
	border: 1px solid #f6f6f6;
}

#fd .es-dashboard .app-blog .blog-item .blog-title
{
	font-size: 14px;
}
#fd .es-dashboard .app-blog .blog-item-meta
{
	margin-top: 6px;
	font-size: 10px;
	color: #666;
}

#fd .es-dashboard .app-blog .blog-actions
{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

#fd .es-dashboard .app-blog .blog-item + .blog-item .blog-actions
{
	top: 20px;
}

#fd .es-dashboard .app-blog .blog-item:hover .blog-actions
{
	display: block;
}

/**
 * Profile
 */
#fd .es-profile .app-blog .blog-list li.blog-item {
	clear: both;
}

#fd .es-profile .app-blog .blog-list > li + li {
	margin-top: 40px;
}

#fd .es-profile .app-blog .blog-list li.blog-item .blog-image{
	max-width: 150px;
	border: 2px solid #eee;
	padding: 4px;
	margin: 0 0 10px 10px;
}

#fd .es-profile .app-blog .blog-list li.blog-item .blog-item-meta,
#fd .es-profile .app-blog .blog-list li.blog-item .blog-text,
#fd .es-profile .app-blog .blog-list li.blog-item p{
	font-size: 11px;
}

#fd .es-profile .app-blog .blog-item .blog-actions{
	display: none;
}

#fd .es-profile .app-blog .blog-item:hover .blog-actions{
	display: inline-block;
}

/**
 * Stream
 */
#fd .es-stream-list .type-blog .blog-description{
	font-size: 11px;
}

#fd .es-stream-list .type-blog .blog-description img{
	padding: 2px;
	margin: 0 0 5px 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #d7d7d7;
}


#fd .app-blog-title {
	font-size: 15px;
	line-height: 17px;
	display: block;
	overflow: hidden;
	margin-right: 20px;
}

#fd .app-blog-meta {
	font-size: 11px;
	line-height: 13px;
	overflow: hidden;
	margin: 3px 20px 10px 0;
}

#fd .app-blog-meta > div {
	float: left;
	position: relative;
}

#fd .app-blog-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
	margin: 0 0 10px;
}

#fd .app-blog-meta > div + div {
	padding-left: 12px;
}

#fd .app-blog-meta > div + div:before {
	content: '';
	display: block;
	position: absolute;
	width: 2px;
	height: 2px;
	background: #ccc;
	left: 5px;
	top: 50%;
	margin: -1px 0 0;
}

#fd .app-blog-item {
	position: relative;
}

#fd.es .app-blog-item .es-stream-control {
	top: 0;
	right: 0;
}

#fd .app-blog-item + .app-blog-item {
	border-top: 1px solid #ddd;
	padding-top: 15px;
	margin-top: 15px;
}

#fd.es .app-blog-item + .app-blog-item .es-stream-control {
	top: 10px;
}

#fd .app-blog-more {
	margin-top: 10px;
	width: 100%;
}

#fd .app-blog-more > div {
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
}

#fd .app-blog-more .btn {
	font-size: 11px;
}






















































