

.techjoomla-bootstrap .alert {
margin-bottom: 0px !important;
}
.techjoomla-bootstrap .nav-tabs > li {
background:none !important;padding: 2px;
}
.techjoomla-bootstrap .nav-tabs{
list-style-type: none !important;
}
.techjoomla-bootstrap .nav-tabs > li {
margin-bottom: -1px !important;
}
.techjoomla-bootstrap .pager li {
background: none repeat scroll 0 0 transparent !important;
}

/*jgive styles*/
/*campaign-create*/
.com_jgive_remove_button{
position: relative;
float: right;
}
.com_jgive_add_button{
position: relative;
float: right;
}

/*campaigns - all*/
.com_jgive_border{
border: 1px solid #DDDDDD !important;padding:15px;margin-bottom: 10px;
}
.com_jgive_campaign_title{
font-weight:bold;
}
.com_jgive_campaign_image_block{
padding-bottom: 15px;
}
.com_jgive_campaign_short_desc{
float:right;text-align:justify;
}
.com_jgive_campaign_overview_block{
width:50%;float:left;
}
.com_jgive_campaign_buttons_block{
float:right; padding:55px 5px 25px 25px;
}
.com_jgive_campaign_buttons_block2{
float:right; padding:55px 150px 25px 25px;
}
.com_jgive_border_ano_donor{
float:left; border:1px solid #DDDDDD !important; padding:2px; margin:10px;
}

/*single campaign view*/
.com_jgive_td_amt{
text-align: right!important;
}
.com_jgive_td_amt_right{
text-align: right!important;
}
.com_jgive_td_center{
vertical-align: middle!important; text-align: center!important;
}
.com_jgive_progress_text{
color:#000000;
}
/*donations - confirm*/
.com_jgive_ajax_loading{
text-align:center;
}
.com_jgive_ajax_loading_img{
height:72px!important;width:72px!important;
}
.com_jgive_ajax_loading_text{
font-weight:bold;
}
/*general*/
/*alignment*/
.com_jgive_align_center{
text-align:center !important;
}
.com_jgive_align_right{
text-align:right !important;
}
.com_jgive_justify{
text-align:justify;
}
.com_jgive_float_right{
float:right;
}
.com_jgive_float_left{
float:left;
}
.jgive-module {
border: 1px solid #ddd;
margin-bottom: 15px;

}
.jgive-module-content {
padding: 5px;
}

.jgive-module h4 {
border-bottom: 1px solid #ddd;
padding: 10px 25px;
margin: 0;
font-size: 100% !important;
font-weight: bold !important;
color: #333;
text-transform: uppercase;
line-height: 30px;
}

.com_jgive_clear_both{
clear:both;
}
/*buttons*/
.com_jgive_button{
margin:5px!important;
}
/*image*/
.com_jgive_img_48_48{
height:48px!important;width:48px!important;
}
.com_jgive_img_72_72{
height:72px!important;width:72px!important;
}

.com_jgive_img_96_96{
height:96px!important;width:96px!important;
}
.com_jgive_img_128_128{
height:128px!important;width:128px!important;
}
.com_jgive_horizontal_social_buttons{
padding:10px 0 10px;
}
.reading_list_images{
float:right!important;
}
.terms_condition_paymentform_div{
margin-left:4%!important;
}
.submit_button_div{
margin-left:25% !important;
}
.campaign_category{
font-size: 12px !important;
font-weight: normal!important;
height:12px !important;
}
.checkout-heading {
    background: none repeat scroll 0 0 #D9EDF7;
    border: 1px solid #DBDEE1;
    color: #555555;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 8px;
}
.checkout-heading a {
    float: right;
    font-weight: normal;
    margin-top: 1px;
    text-decoration: none;
    cursor:pointer;
}

.techjoomla-bootstrap .jgive_display_none{
	display:none;
}

.pin_layout_font_weight{
font-size:9px !important;
}

.jgive_pin_layout_element:hover
{
 border:1px solid #bbb !important;
 padding:0px;
}

.jgive_pin_layout_element
{
 padding:0px;
border:1px solid #ddd !important;
padding:0px !important;
}

#jgive_validation_message{
display:none;
}

ul.com_jgive_list_style_none
{
	list-style-type:none;
	font-size:14px;
	margin:0px !important;
}

.com_jgive_img_410_610{
 height:400px;
}
.jgive-raised{
 font-size: 40px;
 min-height: 61px;
 text-transform: uppercase;
 text-align: center;
 padding:15px;
}

.jgive-raised-of {
font-weight: bold;
text-transform: uppercase;
text-align: center;
}
.jgive-days, .jgive-percent {
font-size: 20px;
}
.jgive-fzmfwbu {
font-size: medium;
text-transform: uppercase;
font-weight: bold;
}
.jgive-funding-type {
font-size: medium;
font-weight: bold;
}

.jgive-btn-block {
display: block;
padding-left: 0;
padding-right: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.jgive-funding-type-info {
padding: 10px 0px;
font-size: x-small;
}
.jgive-reward:hover{
border-color: rgb(221, 221, 221);
z-index: 2;
background-color: rgb(238, 238, 238);
text-decoration: none;
cursor:pointer;
}


.jgivegivback > div:first-child {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.jgivegivback div.reward_title {
text-transform: uppercase;
font-weight: bold;
color: rgb(108, 108, 108);
cursor: text;
border-bottom: none;
}
.jgivegivback > div {
float: none;
margin-bottom: -1px;
border: 1px solid rgb(221, 221, 221);
line-height: 20px;
padding-bottom: 8px;
padding-top: 8px;
padding-left: 12px;
padding-right: 12px;
display: block;
}

.jgive-ramount {
font-size: large;
font-weight: bold;
display: block;
border-bottom: thin dashed gray;
padding: 5px 0px;
}
.jgive-ramount {
color: black;
}

.jgive-override-modal{
position: relative !important;
top: 0% !important;
left: 0% !important;
z-index: 0 !important;
width: 0px !important;
margin-left: 0px !important;
border: 0px !important;
border: 0px !important;
-webkit-border-radius: 0px !important;
border-radius: 0px !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
-webkit-background-clip: padding-box !important;
background-clip: padding-box!important;
outline: none !important;
}
.techjoomla-bootstrap .navbar-inner{
padding-left:0px !important;
padding-right:0px !important;
padding-top:0px !important;
padding-bottom:0px !important;
}
.jgive-novbar-background{
background:none !important;
}
.jgive_progress{
height:5px !important;
}
.form-actions
{
	margin-top:4px!important;
}
.breadcrumb{
background-color:white !important;
}
.techjoomla-bootstrap .nav{
margin-bottom:0px !important;
margin-left:0px !important;
}
.jgive_steps{
margin-top:-2%;margin-right:3%;
}
.jgive-progressbar{
width: 16.6667%;
}
.jgive_images{
padding:1%;
}
.jgive_pin_div{
margin-left:1% !important;padding:4px;height:100% !important;height:150px;
}
.jgive_caption{
font-weight:bold;
}
.jgive_short_desc{
min-height:60px; margin-top:5%;
}
.jgive_place{
min-height:20px; margin-top:5%;
}
.jgive_amount{
text-align: left;
}

.jgive_text_aling
{
text-align: left;
}
.jgive_funded{
padding:4px;
}
.jgive_donation_per{
background: #ddd;min-height: 6px;
}
.jgive_div_pin_padding{
padding:4px;
}
.jgive_thmb_style{
width: 100% !important;
}

.techjoomla-bootstrap div.sug_case a.modal{

position: relative !important;
margin-left: 0px !important;
left: 0px !important;
border:none !important;
-webkit-box-shadow: 0px 0px !important;
background-color: #f5f5f5 !important;
box-shadow: none !important;
}






/** S  Step wizard */

.stepwizard-step p {
    margin-top: 5px;
}

.stepwizard-row {
    display: table-row;
    text-align:center;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    position: relative;
}

.jgive-btn-circle {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
}

.jgive-icon-font-size{
font-size:1px;
}

.well .social_share_container .jgive_addthis_style{
padding-top:6px;
}
/** E Step wizard */

/** Quick Payment */

.techjoomla-bootstrap #jgive_disabled_fields .input-append .jgive_currency_add-on{
 height:55px;
}

.techjoomla-bootstrap #jgive_disabled_fields .jgive_currency_add-on p{
 margin: 18px 0 9px;
 font-size: xx-large;
}

.techjoomla-bootstrap   #jgive_disabled_fields .jgive-amount-field{
 height:55px;
 font-size: xx-large;
 width:178px;
}

.techjoomla-bootstrap .jgive-blur-fields{
-webkit-filter: opacity(0.5);
}

.techjoomla-bootstrap #jgive_content .jgive_edit_button{
	display:none;
}

.techjoomla-bootstrap .jgive_display_block{
	display:block !important;
}


.techjoomla-bootstrap .jgive-hover-reward:hover{
border-color: rgb(221, 221, 221);
z-index: 2;
background-color: rgb(238, 238, 238);
text-decoration: none;
cursor:pointer;
}

.techjoomla-bootstrap #jgive_givebacks ul li{
padding:10px;
border-top: 1px dashed #eee;
}

.techjoomla-bootstrap #jgive_givebacks ul .jgive_active{
border-color: rgb(222, 247, 224);
z-index: 2;
background-color: rgb(222, 247, 224);
text-decoration: none;
cursor:pointer;
}

.techjoomla-bootstrap .jgive_disply_none{
	display:none;
}

/** Video Upload **/
.techjoomla-bootstrap .jgive_container_border{
position: relative;
margin: 15px 0;
padding: 30px 19px 11px;
background-color: rgb(255, 255, 255);
border-bottom: 1px dotted rgb(238, 238, 238);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.techjoomla-bootstrap #contentArea .existing-videos-files-urls {
position: relative;
margin: 15px 0;
padding: 39px 19px 14px;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(221, 221, 221);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

/*
Label the data
*/

.techjoomla-bootstrap #contentArea .existing-videos-files-urls:after {
content: attr(name);
position: absolute;
top: -1px;
left: -1px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
background-color: rgb(245, 245, 245);
border: 1px solid rgb(221, 221, 221);
color: rgb(26, 64, 26);
-webkit-border-radius: 4px 0 4px 0;
-moz-border-radius: 4px 0 4px 0;
border-radius: 4px 0 4px 0;
}

.techjoomla-bootstrap #contentArea .new-video {
position: relative;
margin: 15px 0;
padding: 39px 19px 14px;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(221, 221, 221);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.techjoomla-bootstrap #contentArea .new-video:after {
content: attr(name);
position: absolute;
top: -1px;
left: -1px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
background-color: rgb(245, 245, 245);
border: 1px solid rgb(221, 221, 221);
color: rgb(26, 64, 26);
-webkit-border-radius: 4px 0 4px 0;
-moz-border-radius: 4px 0 4px 0;
border-radius: 4px 0 4px 0;
}

.techjoomla-bootstrap .jgive_video { position: absolute; }

.techjoomla-bootstrap .jgive_video a {
position: absolute;
display: block;
background: url(../images/play.png);
background-repeat: no-repeat;
height: 100%;
width: 100%;
left: 42%;
top: 37%;
}

/*** BOOTSTRAP FILE UPLOAD
------------------------------------------------------------------------- ***/

.jgive_mediaContainer .btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.jgive_mediaContainer .btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
}

.jgive_mediaContainer .fileupload {
  margin-bottom: 9px;
}

.jgive_mediaContainer .fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
 vertical-align: middle;
  cursor: text;
}

.jgive_mediaContainer .fileupload .btn {
  vertical-align: middle;
}

.jgive_mediaContainer .fileupload-exists .fileupload-new,
.jgive_mediaContainer .fileupload-new .fileupload-exists {
  display: none;
}

.jgive_mediaContainer .fileupload-inline .fileupload-controls {
  display: inline;
}

.jgive_mediaContainer .fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.techjoomla-bootstrap .jgive_mediaContainer .progress{
margin-top:3px;
background-image:none;
background-color:rgb(255, 255, 255);
}

/** Added to get work form horizontal on backend */
/*
.techjoomla-bootstrap .form-horizontal .control-label {
 width: 160px !important;
 text-align: right ;
}
*/

.jgive_rubber_stamp_text
{
  border: 2px solid rgb(98, 196, 98); padding: 7px;border-radius: 9px;
}

.thumbnail .jgive_featured_text
{
position: absolute;
top: 16px;
right: 8px;
transform: rotate(43deg);
color: white;
z-index: 1000;
font-size: 12px;
font-weight: bold;z-index:1000
}

.jgive_pin_item .jgive_featured_img
{
 position: absolute;
 top: 0px;
 right: 0px;
 z-index:1000
}

.rubber_stamp {
 font-size: 34px;
 line-height: 26px;
 text-transform: uppercase;
 font-weight: bold;
 color: rgb(98, 196, 98);
 float: left;
 opacity: 0.6;
 -webkit-transform: rotate(-10deg);
 -o-transform: rotate(-10deg);
 -moz-transform: rotate(-10deg);
 -ms-transform: rotate(-10deg);
 position: absolute;
 top: 40%;
 text-align:left;
 width: auto;
 left: 12%;
}
.rubber_stamp::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: auto;
  min-height: 100%;
  top: -10px;
  left: -10px;
  padding: 10px;
  background: url(https://raw.github.com/domenicosolazzo/css3/master/img/noise.png) repeat;
}

/* Overrides payment plugin radio style for showing each payment plugin name on new line*/
.techjoomla-bootstrap #gatewaysContent label.radio{
 display:block;
}

.techjoomla-bootstrap .popup-gallery .jgive_gallery_image_item:nth-child(4n+1)
{
 clear: left; margin-left:0px;
}

.techjoomla-bootstrap#jgive_video_gallery .jgive_gallery_image_item:nth-child(4n+1)
{
 clear: left;
 margin-left:0px;
}

.jgive-campaigns  .pull-left .btn-group button input[type="button"]{
 display:block;
}

.jgive-module {
 border: 1px solid #ddd;
 margin-bottom: 15px;
}


.jgive-module h3 {
 border-bottom: 1px solid #ddd;
 padding: 10px 25px;
 margin: 0;
 font-size: 100% !important;
 font-weight: bold !important;
 color: #333;
 text-transform: uppercase;
 line-height: 30px;
}

.span3 .input-group #search_list{
 margin-top:: 10PX;
}

.techjoomla-bootstrap .jgive_block{
	padding: 39px 19px 14px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.techjoomla-bootstrap .jgive_giveback{
 margin-top:29px;
 margin-bottom:10px;
 padding:0px;
}

#myTabContent{
	margin-top: 10px!important;
}

.jgive-module .jgive-module-content select {
 margin-top:3px;
}

.jgive_search_filter{
 margin-top:10px;
 margin-bottom:10px;
}


/** All campaigns view responsive issue fix */
@media (max-width: 850px) and (min-width: 550px){
	.techjoomla-bootstrap #all #jgive_filter .input-medium{
		width: 100% !important;
	}
}


.techjoomla-bootstrap #jgive_video_gallery .jgive_gallery_image_item{
	position: relative;
}

.techjoomla-bootstrap #jgive_video_gallery .jgive_gallery_image_item .play_icon{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -24px;
	margin-top: -18px;
	width:36px;
}


/* FIxed height pin view*/
.fixedHeightPinLayout .title_fixed_width
{
	overflow: hidden;
	position:relative;
}

.fixedHeightPinLayout .fader
{
	position: absolute;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 70%,rgba(255,255,255,1) 95%);
	text-align: center;
	float: left;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	margin-top: 2px;
}

.fixedHeightPinLayout .jgive_pin_desc
{
	margin-top:10px;
	min-height: 75px;
	overflow: hidden;
	position:relative;
}

.fixedHeightPinLayout .thumbnail{
margin-bottom:5px!important;
}

.jgive_pin_item{
	padding-bottom: 15px;
}

.jgive_pin_item .jgive_pin_layout_element{
	border-radius: 6px;
	-webkit-border-radius: 6px;
}

.jgive_pin_item .jgive_pin_image{
	max-height:100%;
}

.jgive_pin_item .jgive_pin_info{
	padding: 0px 11px 0px 11px;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#315264;
}

.jgive_pin_item .jgive_pin_info .jgive_pin_course_rating,
.jgive_pin_item .jgive_pin_info .jgive_pin_course_users
{
	word-wrap: break-word;
	width: 50%;
}

.jgive_pin_item .jgive_pin_caption{
padding: 0px 11px 0px 11px;
font-weight:bold;
height: 25px;
overflow: hidden;
}


.jgive_pin_item .jgive_pin_desc, .jgive_place
{
 padding: 0px 11px 5px 11px;
 overflow: hidden;
 margin:0px;
}

 .jgive_pin_item .jgive_pin_info span > span{
	display: inline-block;
}

.jgive_pin_item .jgive-pin-footer .progress{
height: 15px;
margin-bottom: 15px;
}

.jgive-pin-footer {
padding: 0px 11px 0px 11px;
margin-top: 5px;
border-top: 1px solid #e5e5e5;
}
.no-more-tables { overflow: auto !important;}


.well{
	min-height: 100px;
}

.jgive_pin_img{text-align:center;}
.jgive_pin_img a{ height: 150px; min-height: 150px; display: block;}
.only-in-print{ display: none;}
.tjBs3 .campaignBolgFilters ul li {
display: inline-table !important;
}
