.icon-48-icon-48-jgive {
background-image:url(../images/icon-48-jgive.png)!important;
}

.setting-td input, .setting-td label {
    display: inline;
    float: none;
}
.icon-32-jgive-unfeature {
background: url(../images/unfeature.png) no-repeat;
}
.icon-32-jgive-feature {
background: url(../images/feature.png) no-repeat;
}

.paramHeaderContainer {clear:both; font-weight:bold; font-size:12px; color:#369; margin:12px 0 4px; padding:0; background:#d5e7fa; border-bottom:2px solid #96b0cb; float:left; width:100%;}

/*custom elements style*/
.jbolo_div_outer{
clear:both;float:left;background-color:#AED300;width:100%;
}
.jbolo_div_inner{
padding: 5px 5px;font-weight:bold;color:black;
}

/*+manoj - Hack for component options form starts*/
/*For J3x*/
#component-form .control-label {width: 250px !important;}
/*For J2.5.x*/
#component-form div.current label, div.current span.faux-label {min-width: 250px !important;}
#component-form div.current fieldset.radio label {min-width: 45px !important;}
/*+manoj - Hack for component options form ends*/
.jgive-elements-gateways-link{clear:none; float:left;}

/*Custom elements style*/
.jgiveHeaderOuterDiv{clear:both;float:left;background-color:#ADD8E6;width:100%;}
.jgiveHeaderInnerDiv{padding:5px 5px;font-weight:bold;color:black;}
.jgive-elements-legend-hint{clear:both; float:left; color:#000 !important; opacity: 0.65; font-size: 1.2em !important;}
.jgive-elements-legend{display: block; width: 100%; padding: 0; margin-bottom: 18px; font-size: 19.5px; line-height: 36px; color: #333; border: 0; border-bottom: 1px solid #e5e5e5;}
.jgive-elements-gateways-link{clear:none; float:left;}

#JGive_cpanel .icon-wrapper .icon .thumbnail{
min-height:97px;
}

#contentArea .controls {
margin-left: 304px !important;
}
