.tjBs3 .display-inline{
 display:inline;
}

.tjBs3 body{margin-top:50px;}
.tjBs3 .jgive_filters .glyphicon { margin-right:10px; }
.tjBs3 .jgive_filters .panel-body { padding:0px; }
.tjBs3 .jgive_filters .panel-body table tr td { padding-left: 15px; padding-right: 15px }
.tjBs3 .jgive_filters .panel-body .table {margin-bottom: 0px; }

.tjBs3 .jgive_display_none{
	display:none;
}

.tjBs3 .jgive_disply_none{
	display:none;
}

/** Video Upload **/
.tjBs3 .jgive_container_border{
	position: relative;
	margin: 15px 0;
	padding: 30px 19px 11px;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px dotted rgb(238, 238, 238);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tjBs3 #contentArea .existing-videos-files-urls {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tjBs3 #contentArea .existing-videos-files-urls:after {
	content: attr(name);
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(221, 221, 221);
	color: rgb(26, 64, 26);
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}


.tjBs3 #contentArea .new-video {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(221, 221, 221);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tjBs3  #contentArea .new-video:after {
	content: attr(name);
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(221, 221, 221);
	color: rgb(26, 64, 26);
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
}

.tjBs3 .jgive_video { position: absolute; }

.tjBs3 .jgive_video a {
	position: absolute;
	display: block;
	background: url(../images/play.png);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	left: 42%;
	top: 37%;
}


.tjBs3 #jgive_video_gallery .jgive_gallery_image_item{
	position: relative;
/*
	padding:0px 5px 10px 5px;
*/
	margin-top: 10px;
}

.tjBs3 #jgive_image_gallery .jgive_image_item{
	position: relative;
	margin-top: 10px;
	overflow:hidden;
}
.jgive-image-gallery-inner{
text-align: center;
border: 1px solid #ddd;
height: 120px;
}
.tjBs3 #jgive_video_gallery .jgive_gallery_image_item .play_icon{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -24px;
	margin-top: -18px;
	width:36px;
}

.tjBs3 .jgive_mediaContainer .fileupload .progress
{
	background: none !important;
	box-shadow: none;
}

.tjBs3 .jgive_block{
	padding: 0px 19px 14px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


@media (min-width: 768px){
	.tjBs3 .popup-gallery .jgive_gallery_image_item:nth-child(3n+1)
	{
	 clear: left; margin-left:0px;
	}

	.tjBs3 #jgive_video_gallery .jgive_gallery_image_item:nth-child(3n+1)
	{
	 clear: inherit;
	 margin-left:0px;
	}
}

@media (min-width: 320px) and (max-width:600px){
	.tjBs3 .popup-gallery .jgive_gallery_image_item:nth-child(2n+1)
	{
	 clear: left; margin-left:0px;
	}

	.tjBs3 #jgive_video_gallery .jgive_gallery_image_item:nth-child(2n+1)
	{
	 clear: left;
	 margin-left:0px;
	}
}


@media (min-width: 768px){
	.tjBs3 .popup-gallery .jgive_gallery_image_item:nth-child(3n+1)
	{
	 clear: left; margin-left:0px;
	}

	.tjBs3 #jgive_video_gallery .jgive_gallery_image_item:nth-child(3n+1)
	{
	 clear: inherit;
	 margin-left:0px;
	}
}

.tjBs3 .margin-top{
	margin-top:5px;
}

.tjBs3 .cursor-pointer{
	cursor: pointer;
}

.tjBs3 .margin-bottom{
 margin-bottom:10px;
}

.tjBs3 .jgive-bs3-modal{
 display: block;
 position: relative;
 z-index: inherit;
}

.tjBs3 .icon-calendar{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.tjBs3 .icon-calendar:before {
content: "\f073";
}

.tjBs3 #jgive_donors .js-stools-container-filters .chzn-container-single-nosearch{
	width:100% !important;
}

.tjBs3 .span_padding{
 padding:5px;
}

.tjBs3 .top-buffer{
margin-top:10px !important;
}

.tjBs3 #campaign_start_time_hour, #campaign_start_time_min, #campaign_start_time_ampm, #campaign_end_time_hour, #campaign_end_time_min, #campaign_end_time_ampm{
vertical-align: top;
}

.dashboard_pin{margin-left: 5px;}
.single_camp h3{margin:0;}

.tjBs3 .single_pin h4{color:#000; font-weight: 600;}
.tjBs3 .progress{height: 10px;}

.searchDonor{display:none}
.single_pin .single_pin_chevron{margin-top:8px}
.tjBs3 .activity .img-circle{width:20px;}

.tjBs3 .giveback img{width:40%;}
.tjBs3 .singleCampaignMainImage{margin-bottom:10px;}
.campaign-detail-donor div {margin-top: -27px!important;}
.tjBs3 #myTab li a {
display:block !important;
}

.campaignsCatFilterwrapper{overflow-y:auto; max-height:200px; overflow-x:hidden;}
.tjBs3 #campaignBlogSearchBtn{padding-right:20px;}
.tjBs3 .campaignBlogProgress .progress{height: 20px !important;}

.dashboardCatFilter {overflow-y:auto; max-height:250px; overflow-x:hidden;}
.tj-filterhrizontal .margin-top{
	margin-top: 10px;
}
.camp-main-img:after{
content: "";
display: block;
}
.camp-main-img img{
border: 0 !important;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin-top:0;
margin-left:auto;
margin-right:auto;
}
.camp-main-img {
position: relative;
overflow: hidden;
max-height:400px;
}

.tjBs3 .fa-star{color: gold;}
