/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*
 * Changes for TJ by@manoj
 * 1. Added .tjDB namespace
 */
.tjDB body {
background-color: #f8f8f8;
}
/*.tjDB #wrapper {
width: 100%;
}*/
.tjDB #page-wrapper {
padding: 0 15px;
min-height: 568px;
background-color: #fff;
}
@media (min-width: 768px) {
.tjDB #page-wrapper {
position: inherit;
/*margin: 0 0 0 250px;*/ /*^manoj*/
padding: 0 30px;
}
}
/*.tjDB .navbar-top-links li {
display: inline-block;
}
.tjDB .navbar-top-links li:last-child {
margin-right: 15px;
}
.tjDB .navbar-top-links li a {
padding: 15px;
min-height: 50px;
}
.tjDB .navbar-top-links .dropdown-menu li {
display: block;
}
.tjDB .navbar-top-links .dropdown-menu li:last-child {
margin-right: 0;
}
.tjDB .navbar-top-links .dropdown-menu li a {
padding: 3px 20px;
min-height: 0;
}
.tjDB .navbar-top-links .dropdown-menu li a div {
white-space: normal;
}
.tjDB .navbar-top-links .dropdown-messages,
.tjDB .navbar-top-links .dropdown-tasks,
.tjDB .navbar-top-links .dropdown-alerts {
width: 310px;
min-width: 0;
}
.tjDB .navbar-top-links .dropdown-messages {
margin-left: 5px;
}
.tjDB .navbar-top-links .dropdown-tasks {
margin-left: -59px;
}
.tjDB .navbar-top-links .dropdown-alerts {
margin-left: -123px;
}
.tjDB .navbar-top-links .dropdown-user {
right: 0;
left: auto;
}
*/
/*.tjDB .sidebar .sidebar-nav.navbar-collapse {
padding-right: 0;
padding-left: 0;
}
.tjDB .sidebar .sidebar-search {
padding: 15px;
}
.tjDB .sidebar ul li {
border-bottom: 1px solid #e7e7e7;
}
.tjDB .sidebar ul li a.active {
background-color: #eee;
}
.tjDB .sidebar .arrow {
float: right;
}
.tjDB .sidebar .fa.arrow:before {
content: "\f104";
}
.tjDB .sidebar .active > a > .fa.arrow:before {
content: "\f107";
}
.tjDB .sidebar .nav-second-level li,
.tjDB .sidebar .nav-third-level li {
border-bottom: 0!important;
}
.tjDB .sidebar .nav-second-level li a {
padding-left: 37px;
}
.tjDB .sidebar .nav-third-level li a {
padding-left: 52px;
}
*/
/*@media (min-width: 768px) {
.tjDB .sidebar {
z-index: 1;
position: absolute;
width: 250px;
margin-top: 51px;
}
.tjDB .navbar-top-links .dropdown-messages,
.tjDB .navbar-top-links .dropdown-tasks,
.tjDB .navbar-top-links .dropdown-alerts {
margin-left: auto;
}
}
.tjDB .btn-outline {
color: inherit;
background-color: transparent;
transition: all .5s;
}
.tjDB .btn-primary.btn-outline {
color: #428bca;
}
.tjDB .btn-success.btn-outline {
color: #5cb85c;
}
.tjDB .btn-info.btn-outline {
color: #5bc0de;
}
.tjDB .btn-warning.btn-outline {
color: #f0ad4e;
}
.tjDB .btn-danger.btn-outline {
color: #d9534f;
}
.tjDB .btn-primary.btn-outline:hover,
.tjDB .btn-success.btn-outline:hover,
.tjDB .btn-info.btn-outline:hover,
.tjDB .btn-warning.btn-outline:hover,
.tjDB .btn-danger.btn-outline:hover {
color: #fff;
}
*/
/*.tjDB .chat {
margin: 0;
padding: 0;
list-style: none;
}
.tjDB .chat li {
margin-bottom: 10px;
padding-bottom: 5px;
border-bottom: 1px dotted #999;
}
.tjDB .chat li.left .chat-body {
margin-left: 60px;
}
.tjDB .chat li.right .chat-body {
margin-right: 60px;
}
.tjDB .chat li .chat-body p {
margin: 0;
}
.tjDB .panel .slidedown .glyphicon,
.tjDB .chat .glyphicon {
margin-right: 5px;
}
.tjDB .chat-panel .panel-body {
height: 350px;
overflow-y: scroll;
}
.tjDB .login-panel {
margin-top: 25%;
}
*/

/*.tjDB .flot-chart {
display: block;
height: 400px;
}
.tjDB .flot-chart-content {
width: 100%;
height: 100%;
}*/

/*.tjDB table.dataTable thead .sorting,
.tjDB table.dataTable thead .sorting_asc,
.tjDB table.dataTable thead .sorting_desc,
.tjDB table.dataTable thead .sorting_asc_disabled,
.tjDB table.dataTable thead .sorting_desc_disabled {
background: 0 0;
}
.tjDB table.dataTable thead .sorting_asc:after {
content: "\f0de";
float: right;
font-family: fontawesome;
}
.tjDB table.dataTable thead .sorting_desc:after {
content: "\f0dd";
float: right;
font-family: fontawesome;
}
.tjDB table.dataTable thead .sorting:after {
content: "\f0dc";
float: right;
font-family: fontawesome;
color: rgba(50, 50, 50, 0.5);
}*/

/*.tjDB .btn-circle {
width: 30px;
height: 30px;
padding: 6px 0;
border-radius: 15px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}
.tjDB .btn-circle.btn-lg {
width: 50px;
height: 50px;
padding: 10px 16px;
border-radius: 25px;
font-size: 18px;
line-height: 1.33;
}
.tjDB .btn-circle.btn-xl {
width: 70px;
height: 70px;
padding: 10px 16px;
border-radius: 35px;
font-size: 24px;
line-height: 1.33;
}*/

/*.tjDB .show-grid [class^=col-] {
padding-top: 10px;
padding-bottom: 10px;
border: 1px solid #ddd;
background-color: #eee!important;
}*/
/*.tjDB .show-grid {
margin: 15px 0;
}*/

.tjDB .huge {
/*font-size: 40px;*/ font-size: 1.3em; /*^manoj*/
font-weight: bold; /*+manoj*/
margin-bottom: 5px; /*+manoj*/
}
.tjDB .panel-green {
border-color: #5cb85c;
}
.tjDB .panel-green .panel-heading {
border-color: #5cb85c;
color: #fff;
background-color: #5cb85c;
}
.tjDB .panel-green a {
color: #5cb85c;
}
.tjDB .panel-green a:hover {
color: #3d8b3d;
}
.tjDB .panel-red {
border-color: #d9534f;
}
.tjDB .panel-red .panel-heading {
border-color: #d9534f;
color: #fff;
background-color: #d9534f;
}
.tjDB .panel-red a {
color: #d9534f;
}
.tjDB .panel-red a:hover {
color: #b52b27;
}
.tjDB .panel-yellow {
border-color: #f0ad4e;
}
.tjDB .panel-yellow .panel-heading {
border-color: #f0ad4e;
color: #fff;
background-color: #f0ad4e;
}
.tjDB .panel-yellow a {
color: #f0ad4e;
}
.tjDB .panel-yellow a:hover {
color: #df8a13;
}

/*+manoj*/
.tjDB .label-info {
background-color: #428bca;
}

.tjDB .i-document {color:#428bca;}
.tjDB .i-question {color:#428bca;}
.tjDB .i-support {color:#dd4b38;}
.tjDB .i-horn {color:#3b5998;}
.tjDB .i-facebook {color:#3b5998;}
.tjDB .i-twitter {color:#55acee;}
.tjDB .i-google {color:#dd4b38;}
/*+manoj - end*/

.tjDB .form-inline .form-control {
max-width: 100px;
}
