<div class="feed-item-cover campaigns">
	<div class="date col-xs-3 col-sm-1 col-lg-1">{{created_day}} </br> {{created_date_month}}</div>
	<div class="feed-item col-xs-9 col-sm-11 col-lg-11">
		<div class="feed-item-inner">
			<span><i class="fa fa-trophy fa-lg"></i></span>
			<span class="language en-GB">Campaign goal reached</span>
			<hr />
		</div>
	</div>
</div>

