<div class="feed-item-cover campaigns">
	<div class="date col-xs-3 col-sm-1 col-lg-1">{{created_day}} </br> {{created_date_month}}</div>
	<div class="feed-item col-xs-9 col-sm-11 col-lg-11">
		<div class="feed-item-inner">
			<span><i class="fa fa-money fa-lg"></i></span>
			<span><img class="feed-item-image" src="{{actor.image.avatar}}"></span>
			<span class="language en-GB"><a href='{{actor.url}}'>{{actor.name}}</a> donated {{object.amount}} to the campaign</span>
			<hr />
		</div>
	</div>
</div>
