<div class="feed-item-cover campaigns">
	<div class="date col-xs-3 col-sm-1 col-lg-1">{{created_day}} </br> {{created_date_month}}</div>
	<div class="feed-item col-xs-9 col-sm-11 col-lg-11">
		<div class="feed-item-inner">
			<span><i class="fa fa-video-camera fa-lg"></i></span>
			<span><img class="feed-item-image" src="{{actor.image.avatar}}" /></span>
			<span class="language en-GB"><a href='{{actor.url}}'>{{actor.name}}</a> added {{object.count}} video(s) to the campaign</span>
			<div class="feed-item-video-upload">
				<div class="media" id="jgive_video_gallery">
					{{#object.videos}}
					<div class=" jgive_gallery_image_item" >
						<a rel="{handler: 'iframe', size: {x: 600, y: 600}}" href="{{link}}" class="modal jgive-bs3-modal">
							<img src="{{playIcon}}" class="play_icon"/>
							<img src="{{thumbSrc}}" width="100%"/>
						</a>
					</div>
					{{/object.videos}}
					</div>
			</div>
			<hr />
		</div>
	</div>
</div>
