<div class="col-xs-12 col-sm-12 col-lg-12">
	<span><i class="fa fa-send fa-lg"></i></span>&nbsp;
	<span class="language en-GB"><a href='{{actor.url}}'>{{actor.name}}</a> launched the <a href='{{object.url}}'>{{object.name}}</a></span>
	<hr style="margin-top:10px; margin-bottom:10px;">
</div>

