<div class="col-xs-12 col-sm-12 col-lg-12">
	<span><i class="fa fa-money fa-lg"></i></span>
	<span><img class="feed-item-image img-circle" src="{{actor.image.avatar}}"></span>
	<span class="language en-GB">Anonymous investor invested {{object.amount}} to the <a href='{{target.url}}'>{{target.name}}</a></span>
	<hr style="margin-top:10px; margin-bottom:10px;">
</div>
