<div class="col-xs-12 col-sm-12 col-lg-12">
	<span><i class="fa fa-trophy fa-lg"></i></span>&nbsp;
	<span class="language en-GB"><a href='{{target.url}}' target='_blank'>{{target.name}}</a> goal reached</span>
	<hr style="margin-top:10px; margin-bottom:10px;">
</div>
