<div class="col-xs-12 col-sm-12 col-lg-12">
	<span><i class="fa fa-calendar fa-lg"></i></span>&nbsp;
	<span><img class="feed-item-image img-circle" src="{{actor.image.avatar}}"></span>
	<span class="language en-GB"><a href='{{actor.url}}'>{{actor.name}}</a> extended the <a href='{{target.url}}'>{{target.name}}</a> till {{object.newenddate}}</span>
	<hr style="margin-top:10px; margin-bottom:10px;">
</div>
