<div class="col-xs-12 col-sm-12 col-lg-12">
	<span><i class="fa fa-image fa-lg"></i></span>&nbsp;
	<span><img class="feed-item-image img-circle" src="{{actor.image.avatar}}"></span>
	<span class="language en-GB"><a href='{{actor.url}}'>{{actor.name}}</a> added {{object.count}} give-away(s) to the <a href='{{target.url}}'>{{target.name}}</a></span>
	<div>
		{{#object.url}}
			{{#giveback_image}}
				<img class="feed-item-image-upload" src="{{giveback_image}}" alt="Giveaways Image" height="150" width="150"/>
			{{/giveback_image}}
		{{/object.url}}
	</div>
	<hr style="margin-top:10px; margin-bottom:10px;">
</div>
