<div class="col-xs-12 col-sm-12 col-lg-12">
	<span><i class="fa fa-rss fa-lg"></i></span>&nbsp;
	<span><img class="feed-item-image img-circle " src="{{actor.image.avatar}}"></span>
	<span class="language en-GB"><a href='{{actor.url}}'>{{actor.name}}</a> posted for the <a href='{{target.url}}'>{{target.name}}</a></span>
	<div class="feed-item-text"><h5>{{object.postData}}</h5></div>
	<hr style="margin-top:10px; margin-bottom:10px;">
</div>
