/**
 * This chat CSS code is originally developed by
 * AdminLTE v2.0.4
 * Author: Almsaeed Studio
 * Website: Almsaeed Studio <http://almsaeedstudio.com>
 * License: Open source - MIT
 * Please visit http://opensource.org/licenses/MIT for more information
 **/

/* CSSTidy 1.5.2: Fri, 20 Mar 2015 12:36:33 +0000 */
.jb-chat {
border-bottom-right-radius:0;
border-bottom-left-radius:0;
position:relative;
overflow-x:hidden;
padding:0
}

.jb-chat-messages {
padding:10px;
overflow:auto;
background-color:#f1f1f1
}

.jb-chat-msg,.jb-chat-text {
display:block
}

.jb-chat-msg {
margin-bottom:10px
}

.jb-chat-msg:before,.jb-chat-msg:after {
content:" ";
display:table
}

.jb-chat-msg:after {
clear:both
}

.jb-chat-text {
border-radius:5px;
position:relative;
padding:5px 10px;
background:#fff;
border:1px solid #fff;
margin:5px 0 0 50px;
color:#444
}

.jb-chat-text:after,.jb-chat-text:before {
position:absolute;
right:100%;
top:15px;
border:solid transparent;
border-right-color:#fff;
content:' ';
height:0;
width:0;
pointer-events:none
}

.jb-chat-text:after {
border-width:5px;
margin-top:-5px
}

.jb-chat-text:before {
border-width:6px;
margin-top:-6px
}

.right .jb-chat-text {
margin-right:50px;
margin-left:0
}

.right .jb-chat-text:after,.right .jb-chat-text:before {
right:auto;
left:100%;
border-right-color:transparent;
border-left-color:#fff
}

.jb-chat-img {
border-radius:50%;
float:left;
width:40px;
height:40px
}

.right .jb-chat-img {
float:right
}

.jb-chat-info {
display:block;
margin-bottom:2px;
font-size:12px
}

.jb-chat-name {
font-weight:600
}

.jb-chat-timestamp {
font-size:70%;
color:#999
}

.jb-chat .right>.jb-chat-text {
background:#abcdef;
border-color:#abcdef
}

.jb-chat .right>.jb-chat-text:after,.jb-chat .right>.jb-chat-text:before {
border-left-color:#abcdef
}
