/**
 * @package		JBolo
 * @version		$versionID$
 * @author		TechJoomla
 * @author mail	extensions@techjoomla.com
 * @website		http://techjoomla.com
 * @copyright	Copyright © 2009-2013 TechJoomla. All rights reserved.
 * @license		GNU General Public License version 2, or later
*/

.jbolo_word_break_wrap{word-break: break-all; word-wrap: break-word;}
.jbolo_pad_me{padding:15px !important;}
.jbolo-btn-wrapper{margin:5px !important;}

/* Bootstrap overriding starts. */
.techjoomla-bootstrap ul li {
list-style: none outside none;
}
.techjoomla-bootstrap .alert {
margin-bottom: 0px !important;
}
.techjoomla-bootstrap .nav-tabs > li {
background:none !important;padding: 2px;
}
.techjoomla-bootstrap .nav-tabs{
list-style-type: none !important;
}
.techjoomla-bootstrap .nav-tabs > li {
margin-bottom: -1px !important;
}
/* Bootstrap overriding ends. */
