/**
 * @package		JBolo
 * @version		$versionID$
 * @author		TechJoomla
 * @author mail	extensions@techjoomla.com
 * @website		http://techjoomla.com
 * @copyright	Copyright © 2009-2013 TechJoomla. All rights reserved.
 * @license		GNU General Public License version 2, or later
*/
.icon-48-jbolo{background-image:url(../../../media/com_jbolo/img/jbolo.png)!important}
/* START custom elements style*/
.jbolo_div_outer{clear:both;float:left;background-color:#AED300;width:100%;}
.jbolo_div_inner{padding: 5px 5px;font-weight:bold;color:black;}
.jbolo_latest_version_number{font-size:18px;}
.jbolo-elements-legend-hint{clear:both; float:left; color:#000 !important; opacity: 0.65; font-size: 1.2em !important;}
.jbolo-elements-legend{display: block; width: 100%; padding: 0; margin-bottom: 18px; font-size: 19.5px; line-height: 36px; color: #333; border: 0; border-bottom: 1px solid #e5e5e5;}
/* END custom elements style*/
/*+manoj - Hack for component options form starts*/
/*For J3x*/
#component-form .control-label {width: 250px !important;}
/*For J2.5.x*/
#component-form div.current label, div.current span.faux-label {min-width: 250px !important;}
#component-form div.current fieldset.radio label {min-width: 45px !important;}
/*+manoj - Hack for component options form ends*/
/*charts*/
.jbolo-donut-chart{height:200px;}
.jbolo-line-chart{height:300px;}
/*newsfeed*/
.jbolo-news-items div:not(:first-child).jbolo-news-item {margin-top: 5px; border-top: 1px solid #d1d9df; padding-top: 5px;}
/*general*/
.jbolo-btn-wrapper{margin:5px !important;}
.jbolo-text-justify{text-align:justify;}
/*calender icon start*/
time.icon{font-size: 1em; /* change icon size */ display: block; position: relative; width: 7em; height: 7em; background-color: #fff; margin: 2em auto; border-radius: 0.6em; box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd; overflow: hidden; -webkit-backface-visibility: hidden; -webkit-transform: rotate(0deg) skewY(0deg); -webkit-transform-origin: 50% 10%; transform-origin: 50% 10%;}
time.icon * {display: block; width: 100%; font-size: 1em; font-weight: bold; font-style: normal; text-align: center;}
time.icon strong {position: absolute; top: 0; /* padding: 0.4em 0; */ color: #fff; background-color: #fd9f1b; border-bottom: 1px dashed #f37302; box-shadow: 0 2px 0 #fd9f1b;}
time.icon em {position: absolute; bottom: 0.3em; color: #fd9f1b;}
time.icon span {width: 100%; font-size: 2.8em; letter-spacing: -0.05em; padding-top: 1em; color: #2f2f2f;}
time.icon:hover, time.icon:focus {-webkit-animation: swing 0.6s ease-out; animation: swing 0.6s ease-out;}
@-webkit-keyframes swing {
0% {-webkit-transform: rotate(0deg)  skewY(0deg);}
20% {-webkit-transform: rotate(12deg) skewY(4deg);}
60% {-webkit-transform: rotate(-9deg) skewY(-3deg);}
80% {-webkit-transform: rotate(6deg)  skewY(-2deg);}
100% {-webkit-transform: rotate(0deg)  skewY(0deg);}
}
@keyframes swing {0% {transform: rotate(0deg)  skewY(0deg);}
20% {transform: rotate(12deg) skewY(4deg);}
60% {transform: rotate(-9deg) skewY(-3deg);}
80% {transform: rotate(6deg)  skewY(-2deg);}
100% {transform: rotate(0deg)  skewY(0deg);}
}
/*calender icon end*/
