<div class="feed-item-cover">
	<div class="date col-xs-3 col-sm-1 col-lg-1">{{created_day}} </br> {{created_date_month}}</div>
	<div class="feed-item col-xs-9 col-sm-11 col-lg-11">
		<div class="feed-item-inner">
			<span><i class="fa fa-calendar fa-lg"></i></span>
			{{#actor.image.gravatar}}
				<span><img class="feed-item-image" src="{{actor.image.avatar}}" /></span>
			{{/actor.image.gravatar}}
			{{^actor.image.gravatar}}
				<span><img class="feed-item-image" src="{{root}}{{actor.image.avatar}}" /></span>
			{{/actor.image.gravatar}}
			<span class="language en-GB"><a href='{{root}}{{actor.url}}'>{{actor.name}}</a> has preponed the event date to {{object.newenddate}}</span>
			<hr />
		</div>
	</div>
</div>

