<div class="onemsg" id=jb_msg_{{html mid}}>
	{{if me}}
		<div class="jbolo_avatar">
			<a href={{html purl}} title={{html me}}>
				<img src={{html avtr}} alt={{html me}}>
			</a>
		</div>
		<div class="onemsg_chat" title="{{html ts}}" >
			<span class="chatuser">{{html me}}</span>
			<br/>
			<span class="chatmessage convert-emoji">{{html message}}</span>
		</div>
		<!--<div class="msg_sperator"></div>-->
	{{else}}
		<span class="chatmessage convert-emoji" title="{{html ts}}">
			<p class="bradcastMsg">{{html message}}</p>
		</span>
	{{/if}}
</div>
