<div id="singleListUser">
	<div id="singleListUserDetails" class="useridd_hover">
		<div class="statusicon_{{html sts}}" id="sti"></div>
		<div class="unamecover">
			<span class="uname">{{html uname}}</span>
			<span class="status_msg" id="sts" title="{{html stsm}}">{{html stsm}}</span>
		</div>
	</div>
</div>
