<div id="{{html userid}}" class="userdetails">
	{{if stcls=='statusicon_null'}}
		<div class="statusicon_4" id="status"></div>
	{{else}}
		<div class="{{html stcls}}" id="status"></div>
	{{/if}}
	<div>
		<span class="uname" id="uname">
			<a href={{html purl}}>{{html username}}</a>
		</span>
	</div>
</div>
