/*Added for jquery UI autocomplete fix.*/
ul.ui-autocomplete.ui-menu {
  z-index: 9999;
}
#extstatus {
 background: url(images/arrow_down.png) no-repeat 50% 50%
}
#extstatus:hover {
 background: url(images/arrow_down.png) no-repeat 50% 50% whiteSmoke
}
#loggeduser .jbolo_avatar {
 float: left;
 height: 32px;
 width: 32px;
}
#loggeduser, #loggeduser .jbolo_avatar img {
 width: 100%;
 overflow: hidden;/*+ manoj*/
}
#textar {
 height: 36px;
 width: 90%;
}
.J-Kh {
 margin: 0
}
.jbolo_actions {
 background: url(images/arrow_down.png) no-repeat 50% 50% whiteSmoke;
 float: left;
 height: 16px;
 position: relative;
 vertical-align: top;
 width: 16px;
}
.jbolo_actions button {
 background: #fff;
 border: none;
 padding: 0;
}
.add_users:focus {
 border: 1px solid #4d80fe
}
.addusers {
 background: #f9f9f9;
 display: none;
 margin-top: 2px;
 text-align: left;
}
.addusers input {
 border: 1px solid #CCC;
 font-size: 12px;
 margin: 4px;
 outline: 0;
 padding: 3px;
 width: auto;
}
.bradcastMsg {
 color: #777
}
.buttons {
 float: left;
 margin: 10px 0 0;
 width: 100%;
}
.buttons div {
 background: whitesmoke;
 border-bottom: 1px solid #cdcdcd;
 border-left: 1px solid #cdcdcd;
 border-top: 1px solid #cdcdcd;
 float: left;
 font-size: 12px;
 padding: 3px;
 width: auto!important;
}
.buttons div.more {
 border-right: 1px solid #cdcdcd
}
.chatactions {
 background-color: white;
 border: 1px solid #888;
 color: #333;
 display: none;
 font-size: 80%;
 margin: 0;
 outline-style: none;
 overflow: hidden;
 padding: 0;
 position: absolute;
 right: 0;
 text-align: left;
 text-overflow: ellipsis;
 top: 25px;
 vertical-align: bottom;
 width: 150px;
 z-index: 7;
}
.chatactions li {
 background: white;
 display: block;
 line-height: normal;
 padding: 5px;
}
.chatactions li:hover {
 background: #e7e7e7
}
.chatboxtextareaselected {
 border: 2px solid #f99d39;
 margin: 0;
}
.chatmessages {
 background: #fff;
 float: left;
 height: auto;
 margin: 5px 0;
 max-height: 212px;
 min-height: 150px;
 overflow-x: hidden;
 overflow-y: auto;
 /*padding: 0 5px;*//*^+mL v3.2.5*/
 text-align: left;
 width: 100%;/*95%*//*^mL v3.2.5*/
}
.chatmessages .chatdatestamp {
 color: #777;
 float: none;
 font-weight: normal;
 margin-bottom: 2px;
 margin-top: 4px;
 overflow: hidden;
 text-align: right;
 width: 100%;
}
.chatmessages .onemsg {
 float: left;
 font-size: 12px;
 font-weight: normal;
 line-height: 18px;
 padding: 0 5px;/*+mL v3.2.5*/
 width: 95%;/*100%*//*^mL v3.2.5*/
}
.chatmessages .onemsg div.jbolo_avatar {
 float: left;
 height: 32px;
 margin-right: 8px;
 width: 32px;
}
.chatmessages .onemsg div.jbolo_avatar img {
 height: 32px;
 width: 32px;
}
.chatmessages .onemsg_chat {
 margin-left: 40px
}
.chatmessages .onemsg_chat .chatmessage {
 /*margin-left: 5px;*//*^manoj v3.2*/
 word-wrap: break-word;
}
.chatmessages .onemsg_chat .chatuser {
 font-weight: bold
}
.chatmessages .onemsg_chat .chatuser, .chatmessages .onemsg_chat .chatmessage {
 position: relative
}
.chatmessages div:not(:first-child).onemsg {
 margin-top: 5px;
 border-top: 1px solid #ededed;/*d1d9df*//*^manoj v3.2*/
 padding-top: 5px;
}
.chatuserid {
 float: left;
 line-height: 18px;
 margin: 0 0 0 5px;
 width: auto;
}
.chatuserid .chatuser {
 display: inline-block;
 overflow: hidden;
 text-align: left;
 text-overflow: ellipsis;
 white-space: nowrap;
 width: 165px; /*^ 139px manoj*/
}
/*.clr {
 clear: both;
 height: 0;
 margin: 0;
 overflow: hidden;
 padding: 0;
}*/ /* ^ manoj for tkt #11827*/
.extstatus {
 cursor: pointer;
 float: left;
 height: 12px;
 position: relative;
 vertical-align: top;
}
.extstatus button {
 background: url(images/download.png) no-repeat scroll -80px -120px transparent;
 border: none;
 padding: 0;
}
.extstatuslist {
 background: #fff;
 border: 1px solid #ccc;
 font-size: 12px;
 padding: 5px;
 position: absolute;
 right: 10px;
 top: 72px;
}
.green .J-N-JX {
 background: url(images/icons_ns10.png) no-repeat 0 -80px;
 height: 16px;
 width: 16px;
}
.grey .J-N-JX {
 background: url(images/icons_ns10.png) no-repeat -60px -80px;
 height: 16px;
 width: 16px;
}
.inmessages {
 bottom: 0;
 float: left;
 position: relative;
 width: 98%;/*245px*//*^mL v3.2.5*/
}
.inmessages textarea {
 -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
 -o-transition: all 0;
 -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
 -webkit-transition: all 0;
 border: 1px solid #c0c0c0!important;
 box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
 margin: 3px;
 padding: 1px;
 resize: none;
 width: 98% !important;/*230px*//*^manoj*/
}
.inmessages textarea:focus {
 -moz-box-shadow: inset 0 1px 2px #4D90FE;
 -webkit-box-shadow: inset 0 1px 2px #4D90FE;
 border: 1px solid #4D90FE!important;
 box-shadow: inset 0 1px 2px #4D90FE;
}
.jb_smileybox {
 background: none repeat scroll 0 0 #FFF;
 border: 1px solid #ddd;/*999*//*^mL v3.2.5*/
 bottom: 38px;/*18px*/
 position: absolute;
 right: 12px;
 width: 204px;/*50px*/
 height:180px;
 overflow-y:hidden;
 border-radius:5px;
}
.jbolochatwin {
 bottom: 0;
 color: #222;
 /*display: block!important;*/ /* ^manoj*/
 font-family: arial,sans-serif;
 font-size: 80%;
 padding: 0;
 position: fixed;
 right: 10px;
 z-index: 1005;
}
.jbolochatwin .jbolo_container {
 display: inline-block;
 margin: 0 5px;
 vertical-align: bottom;
 width: 245px;
}
.jbolochatwin .jbolo_container .jbolo_container {
 background: #fff;
 overflow: hidden;
}
.jbolochatwin .conthighlight .jbolo_title {
 background: #06c
}
.jbolochatwin .minimise {
 background: none!important;
 border: 0!important;
 height: 25px;
}
.jbolochatwin .minimise .jbolo_title {
 bottom: 0;
 position: absolute;
 width: 240px;
}
.jbolochatwin .minimise .windowfuncs .jbolo_close:hover, .windowfuncs .jbolo_close:hover {
 background: #666 url(images/download.png) no-repeat -40px -80px;
 border: 0;
 height: 16px;
 width: 16px;
}
.jbolochatwin .minimise .windowfuncs .jbolo_mini {
 background: url(images/download.png) no-repeat -20px -88px;
 border: 0;
 height: 16px;
 width: 16px;
}
.jbolochatwin .minimise .windowfuncs .jbolo_mini:hover {
 background: #666 url(images/download.png) no-repeat -20px -88px;
 border: 0;
 height: 16px;
 width: 16px;
}
.jbolochatwin .statusicon {
 background: url(images/icons_ns10.png) no-repeat 0 -80px;
 float: left;
 height: 16px;
 width: 16px;
}
.jbolochatwin .jbolo_title {
 background: rgb(64,64,64);
 border: 1px solid #404040;
 color: white;
 cursor: pointer;
 float: left;
 font-size: 13px;
 font-weight: bold;
 margin-left: -1px;
 padding: 5px 2px 5px 1px;
 width: 99%;
}
.jbolochatwin.chatboxtextarea {
 border: 1px solid #eeeeee;
 height: 44px;
 margin: 1px;
 overflow: hidden;
 padding: 3px 0 3px 3px;
 width: 206px;
}
.jbolouserlist {
 background: #fff;
 bottom: 30px;
 color: #000;
 display: none;
 font-family: arial,sans-serif;
 padding: 0;
 position: fixed;
 text-align: left;
 width: 200px;
 z-index: 1005;
}
.jbolouserlist .jbolo_actionlist {
 background: #fff;
 border: 1px solid #ccc;
 font-size: 12px;
 padding: 5px;
 position: absolute;
 right: 0;
 top: 15px;
}
.jbolouserlist .jbolo_title {
 float: left;
 font-size: 15px;
 font-weight: bold;
 width: 90%;
}
.jbolouserlist-in {
 border: 1px solid #ccc;
 height: 100%;
 overflow: hidden;
 padding: 5px;
}
.listmore {
 background: #fff!important;
 border: 1px solid #CCC;
 bottom: 35px;
 left: 80px;
 padding: 5px;
 position: absolute;
}
.listopener {
 background: gray rgba(102,102,102,.05)!important;
 border: 1px solid #ccc;
 bottom: 0;
 cursor: pointer;
 display: inline-block;
 float: left;
 left: 82px;
 margin: 5px 5px 0;
 padding: 5px;
 position: fixed;
 text-transform: none!important;
 z-index: 999;
}
.listopener div {
 background: url(images/sprite_black2.png) -21px 0 no-repeat;
 opacity: 1;
 padding: 10px;
}
.listopener div:active {
 background: url(images/sprite_black2.png) -21px 0 no-repeat;
 opacity: 0.5;
 padding: 10px;
}
.listopener span, div#addsmiley {
 display: none
}
.listopener.highlight {
 background: #fff!important;
 left: 52px;
 width: auto;
}
.listopener.highlight div {
 background: url(images/sprite_black2.png) -21px 0 no-repeat;
 float: left;
 opacity: 0.5;
 padding: 10px;
}
.listopener.highlight span {
 color: #333!important;
 display: block;
 float: left;
 font-size: 11px;
 font-weight: normal;
 line-height: 21px;
}
.loggedin-user {
 float: left;
 font-size: 12px;
 margin-left: 5px;
 width: 125px;
}
.maxwin {
 height: 500px;
 left: 25%;
 position: absolute;
 top: 20%;
 width: 500px;
}
.msg_sperator {
 border-bottom-color: #ededed;
 border-bottom-style: solid;
 border-bottom-width: 1px;
 clear: both;
 margin-bottom: 5px;
 padding-bottom: 5px;
}
.offline-msg {
 background-color: white;
 color: #222;
 display: none;
 font-size: 95%;
 padding: 4px 0;
 text-align: center;
}
.offline-msg1 {
 background-color: white;
 color: #222;
 display: block;
 font-size: 95%;
 padding: 4px 0;
 text-align: center;
}
.offline-msg1 .SH {
 color: #C00
}
.orange .J-N-JX {
 background: url(images/icons_ns10.png) no-repeat -40px -80px;
 height: 16px;
 width: 16px;
}
.plist {
 float: left;
 font-size: 12px;
 height: 50px;
 /*margin-top: 15px;*/ /*^mL v3.2*/
 margin: 5px 5px 5px 0px;
 overflow: auto;
 text-align: left;
 width: 100%;
}
.plist .userdetails {
 overflow: hidden
}
.red .J-N-JX {
 background: url(images/icons_ns10.png) no-repeat -20px -80px;
 height: 16px;
 width: 16px;
}
.remainingwindow {
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
 overflow: hidden;
}
.searchusers {
 float: left;
 margin: 5px;
}
.searchusers input {
 background: #fff;
 border: 1px solid #CCC;
 font-size: 12px;
 outline: 0;
 padding: 5px;
 width: 165px;
}
.searchusers input:focus {
 border: 1px solid #4d90fe
}
.smiley {
 cursor: pointer
}
.status_msg {
 color: #999;
 cursor: pointer;
 float: left;
 font-size: 12px;
 width: 140px!important;
}
.statusicon_1 {
 background: url(images/icons_ns10.png) no-repeat 0 -80px;
 float: left;
 height: 16px!important;
 width: 16px!important;
}
.statusicon_2 {
 background: url(images/icons_ns10.png) no-repeat -20px -80px;
 float: left;
 height: 16px!important;
 width: 16px!important;
}
.statusicon_3 {
 background: url(images/icons_ns10.png) no-repeat scroll -40px -80px transparent;
 float: left;
 height: 16px!important;
 width: 16px!important;
}
.statusicon_4 {
 background: url(images/icons_ns10.png) no-repeat scroll -60px -80px transparent;
 float: left;
 height: 16px!important;
 width: 16px!important;
}
.titleHighlight {
 background: rgb(71,135,237)!important
}
.titleOriginal {
 background: rgb(64,64,64)
}
.jbolo_tools {
 background-color: #F7F7F7;
 border-bottom: 1px #cfcfcf solid;
 border-top: 1px #cfcfcf solid;
 color: #06C;
 float: left;
 position: relative;
 width: 100%;
}
.jbolo_tools .addTicketActivity {
 background: url(images/addActivity.png) no-repeat;
 border: 0;
 cursor: pointer;
 float: right;
 height: 20px;
 margin: 2px;
 width: 20px;
}
.jbolo_tools .addpeople {
 background: url(images/gray-icon/add-user.png) no-repeat 0 1px;
 border: 0;
 cursor: pointer;
 height: 20px;
 margin: 2px;
 width: 20px;
}
.jbolo_tools .addpeople:hover {
 background: url(images/gray-icon/add-user.png) no-repeat 0 1px #e9e9e9
}
.jbolo_tools .chatHistory {
 background: url(images/gray-icon/history.png) no-repeat;
 border: 0;
 cursor: pointer;
 float: left;
 height: 20px;
 margin: 2px;
 width: 20px;
}
.jbolo_tools .chatHistory:hover {
 /*background: #999 url(images/history.gif) no-repeat scroll 0 0 transparent!important*/
 background: url(images/gray-icon/history.png) no-repeat #e9e9e9;/*^ml v3.2*/
}
.jbolo_tools .chatacts {
 background: url(images/arrow_down.png) no-repeat 100% 50%;
 border: none;
 color: #06C;
 float: right;
}
.jbolo_tools .chatacts span {
 margin: 0 8px
}
.jbolo_tools .clearconversation {
 background: url(images/gray-icon/clear.png) no-repeat;
 border: 0;
 cursor: pointer;
 height: 20px;
 margin: 2px;
 width: 20px;
}
.jbolo_tools .clearconversation:hover {
 background: url(images/gray-icon/clear.png) no-repeat #e9e9e9
}
.jbolo_tools .leave {
 background: url(images/leave.png) no-repeat;
 border: 0;
 cursor: pointer;
 float: right;
 height: 20px;
 margin: 2px;
 width: 20px;
}
.jbolo_tools .sendfile {
 background: url(images/gray-icon/sendfile.png) no-repeat;
 border: 0;
 cursor: pointer;
 float: left;
 height: 20px;
 margin: 2px;
 width: 20px;
}
.jbolo_tools .sendfile:hover {
 background: url(images/gray-icon/sendfile.png) no-repeat #e9e9e9
}
.jbolo_tools .voicecall {
 background: url(images/icons_ns10.png) no-repeat -18px -118px;
 border: 0;
 cursor: pointer;
 height: 20px;
 width: 20px;
}
.jbolo_tools button {
 float: left;
 padding: 3px;
}
.jbolo_tools div {
 border-right: 1px solid #999
}
/*.tooltip {
 background: white;
 border: 1px solid #CCC;
 height: auto;
 left: 100px;
 padding: 5px;
 position: absolute;
 width: 200px;
 z-index: 999;
}
.tooltip div div {
 float: left;
 line-height: 18px;
 width: 70%;
}
.tooltip div span {
 width: 70%
}
.tooltip_statusmsg {
 color: #999;
 float: left;
 font-size: 12px;
}*/
.udetails {
 background: #EEE;
 overflow: hidden;
}
.ulist {
 float: left;
 font-size: 12px;
 height: 200px;
 margin-top: 15px;
 overflow-x: hidden;
 overflow-y: auto;
 text-align: left;
 width: 100%;
}
.ulist .useridd_hover {
 cursor: pointer;
 overflow: hidden;
}
.ulist .useridd_hover:hover, .status_msg:hover, .uz:hover {
 background: #f2f2f2
}
.uname {
 float: left;
 line-height: 18px;
 margin: 0;
 width: auto;
}
.unamecover {
 float: left;
 padding: 0 0 5px 5px;
 width: 85%;
}
.unamecover .status_msg {
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 width: 150px!important;
 word-wrap: normal;
}
.updatedstatus {
 background: whitesmoke;
 border: 1px solid #CCC;
 left: 2px;
 padding: 5px;
 position: absolute;
 top: 43px;
}
.userdetails div {
 float: left;
 line-height: 18px;
 width: 88%;
}
.userstatus {
 float: left;
 width: 100%;
}
.userstatus button {
 background: white;
 border: none;
 color: #000;
 display: block;
 float: left;
 height: 28px;
 line-height: 20px;
 margin: 3px;
 overflow: hidden;
 padding: 5px 10px;
 text-transform: none!important;
 width: auto;
}
.userstatus:hover {
 border: none;
 display: block;
}
.userstatusicon {
 float: left;
 font-size: 13px;
 font-weight: bold;
}
.userstatusicon div {
 background: url(images/icons_ns10.png) no-repeat 0 -80px;
 float: left;
 height: 15px;
 width: 20px!important;
}
.uw {
 float: left;
 height: 100%;
 width: 16px;
}
.uw .J-N-JX {
 top: auto;
 vertical-align: baseline;
}
.uz {
 cursor: pointer;
 line-height: 18px;
}
.windowfuncs {
 float: right;
 line-height: normal;
 margin-right: 3px;
 text-align: right;
 white-space: nowrap;
 width: 50px;
}
.windowfuncs .jbolo_close {
 background: url(images/download.png) no-repeat -40px -80px;
 border: 0;
 cursor: pointer;
 height: 16px;
 opacity: 0.6;
 width: 16px;
}
.windowfuncs .jbolo_mini {
 background: url(images/download.png) no-repeat -20px -80px;
 border: 0;
 cursor: pointer;
 height: 16px;
 opacity: 0.6;
 width: 16px;
}
.windowfuncs .jbolo_mini:hover {
 background: #666 url(images/download.png) no-repeat -20px -80px;
 border: 0;
 height: 16px;
 width: 16px;
}
.windowfuncs .popout {
 background: url(images/download.png) no-repeat -120px -80px;
 border: 0;
 height: 16px;
 width: 16px;
}
button.invite {
 background: #fff;
 border: 1px solid #c6c6c6;
 color: #444;
 font-size: 11px;
 font-weight: bold!important;
 margin: 0;
 min-width: 22px;
 padding: 2px 5px 3px;
 text-shadow: 0 1px rgba(0,0,0,0.1);
}
button.invite:hover {
 background-color: #f5f5f5;
 background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
 border: 1px solid rgba(0,0,0,0.1);
 color: #444;
 text-shadow: 0 1px rgba(0,0,0,0.1);
}
button.smiley {
 background: no-repeat url(images/s2.png) -22px -25px;
 border: 0;
 cursor: pointer;
 height: 14px;
 width: 14px;
}
div.smiley {
 bottom: 12px;
 position: absolute;
 right: 12px;
 z-index: 999;
}
img.userstatus {
 background: url(images/download.png) no-repeat scroll -80px -120px transparent;
 float: left;
 height: 12px;
 position: relative;
 vertical-align: top;
 width: 12px;
}
span.extstatus {
 background: url(images/download.png) no-repeat scroll -80px -120px transparent;
 color: #fff;
 float: left;
 height: 12px;
 position: relative;
 vertical-align: top;
 width: 12px;
}
span.uname {
 display: block
}
span.uname, span.uemail {
 float: left;
 font-size: 12px;
 width: 100%;
}
button.block_user{
 background:url(images/block_user.png) no-repeat transparent;
 color:#fff;
 position: relative;
 height: 20px;
 width: 20px;
 border: 0px;
 cursor: pointer;
 left: 2px;
 margin: 2px;
}
.jbolo_tools .block_user:hover {
 background: url(images/block_user.png) no-repeat 0 1px #e9e9e9;
}/*+ml v3.2*/

/*
ul.ui-autocomplete {
 background: white;
 border: 1px #CCC solid;
 font-size: 12px;
 text-align: left;
 width: 200px!important;
}
ul.ui-autocomplete li.ui-menu-item {
 list-style: none
}
ul.ui-autocomplete li.ui-menu-item a {
 color: #333;
 display: block;
 line-height: normal;
 padding: 5px;
 width: 95%;
}
ul.ui-autocomplete li.ui-menu-item a:hover, ul.ui-autocomplete li.ui-menu-item a:active, ul.ui-autocomplete li.ui-menu-item a:focus {
 background: none;
 color: #333;
}
ul.ui-autocomplete:hover, ul.ui-autocomplete li:hover, ul.ui-autocomplete li a:hover {
 background: #e7e7e7;
 border: none;
}*/
/* Since 3.1.4 Added for Bootstrao 3 templates*/
.jbolo_container > *, *:before, *:after {
-webkit-box-sizing: initial !important;
-moz-box-sizing: initial !important;
box-sizing: initial !important;
}
/*Since 3.2.5*/
/*For emoji tabs*/
.tj-tabs {
max-width: 99%;
float: none;
list-style: none;
padding: 0;
margin: 2px;
}
.tj-tabs:after {
content: '';
display: table;
clear: both;
}
.tj-tabs input[type=radio] {
display:none;
}
.tj-tabs label {
display: block;
float: left;
color: #ccc;
font-size: 13px;
font-weight: normal;
text-decoration: none;
text-align: center;
line-height: 2;
cursor: pointer;
-webkit-transition: all 0.5s;/* Safari 3.1 to 6.0 */
transition: all 0.5s;
}
.tj-tab-content {
display: none;
width: 100%;
float: left;
padding: 15px;
box-sizing: border-box;
background-color:#ffffff;
}
.tj-tabs [id^="radio-"]:checked + label {
background-color: #fff;
border: 1px solid #ddd;
border-bottom-color: transparent;
cursor: pointer;
padding-top: 5px;
padding-bottom: 5px;
line-height: 18px;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
.tj-tabs [id^="radio-"] + label {
border-bottom: 1px solid #ddd;
cursor: pointer;
padding-top: 5px;
padding-bottom: 5px;
line-height: 18px;
-moz-border-radius: 4px 4px 0 0;
}
#radio-people:checked ~ #tab-content-people,
#radio-nature:checked ~ #tab-content-nature,
#radio-food:checked ~ #tab-content-food,
#radio-celebration:checked ~ #tab-content-celebration,
#radio-activity:checked ~ #tab-content-activity,
#radio-travel:checked ~ #tab-content-travel,
#radio-objectsAndSymbols:checked ~ #tab-content-objectsAndSymbols {
display: block;
}
.jb_smileybox .tj-tab-content img {
margin: 2px!important;
}
.jb_smileybox .convert-emoji img{
margin: 2px;
}
.jb_smileybox div.tj-tab-content {
height: 130px;
overflow-y: auto;
padding: 1px;
margin-left: 2px;
}
.jb_smileybox div.tj-tab-content li:hover {
-webkit-border-radius: 1px;
border-radius: 1px;
-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.5);
box-shadow:  0 0 1px 1px rgba(0,0,0,.5);
}
