/*
	* @package Social Ads
	* @copyright Copyright (C) 2009 -2010 Techjoomla, Tekdi Web Solutions . All rights reserved.
	* @license GNU GPLv2 <http://www.gnu.org/licenses/old-licenses/gpl-2.0.html>
	* @link     http://www.techjoomla.com
*/

/* ad-pricing-clicks/impessions strts here*/
.layout1_ad-pricing{ border:1px solid #BDC7D8; width:150px; }

.layout1_ad-price-lable{
padding-right:5px; font-weight:bold;
}

/*ad-pricing ends here*/

.layout1_ad_prev_wrap{ margin-top:5px; padding:5px ; /*changed in 2.7.5beta3*//*width:170px;*/ width:auto; height:auto;}

.layout1_ad_prev_first{font-weight:bold;  }

.layout1_ad_prev_anchor:active{ padding:0; text-decoration:none; }
.layout1_ad_prev_anchor:hover{ padding:0; text-decoration:none; }
.layout1_ad_prev_anchor{ font-weight:bold; }

.layout1_ad_ignore_button{ float:right; cursor:pointer; }

.layout1_ad_prev_img{ }

