<div id="singleListUser" class="clearfix">
	<div id="singleListUserDetails" class="useridd_hover">
		<div class="jbolo_avatar">
			<img src={{html avtr}} alt="{{html uname}}" title="{{html uname}}">
		</div>
		<div class="unamecover">
			<span class="uname" id ="uname">{{html uname}}</span>
			<span class="status_msg" id="sts" title="{{html stsm}}">{{html stsm}}</span>
			<div class="statusicon_{{html sts}}" id="sti"></div>
		</div>
	</div>
</div>
