<div class="jbolo_avatar" id="userid">
	<a href={{html purl}}>
		<img src={{html avtr}}>
	</a>
</div>
<div class="windowfuncs"><button class="jbolo_close" id="close_fb_chatbar" onclick="document.getElementById('listopener').className+= ' highlight';document.getElementById('jbolouserlist_container').setAttribute('style', 'display:none');" alt="Close" title="Close"></button>  </div>
<div class="loggedin-user">
	<span>{{html uname}}</span>
</div>