<div class="jbolouserlist-in">
	<div id="loggeduser"></div>

	<div id="updatedstatus" class="updatedstatus">
		<textarea id="textar" ignoreesc="true"></textarea>
	</div>
	<div id="extstatuslist" class="extstatuslist">
		<div id="exstatus" class="exstatus">
			<div class="green">
				<div class="uw">
					<div class="J-N-JX c6"></div>
				</div>
				<div class="uz" id="1">{{html jbolo_lang['COM_JBOLO_AVAILABLE']}}</div>
			</div>
			<hr class="J-Kh">
			<div class="red">
				<div class="uw">
					<div class="J-N-JX c8"></div>
				</div>
				<div class="uz" id="2">{{html jbolo_lang['COM_JBOLO_BUSY']}}</div>
			</div>
			<div class="orange">
				<div class="uw">
					<div class="J-N-JX c8"></div>
				</div>
				<div class="uz" id="3">{{html jbolo_lang['COM_JBOLO_AWAY']}}</div>
			</div>
			<hr class="J-Kh">
			<div class="grey">
				<div class="uw">
					<div class="J-N-JX "></div>
				</div>
				<div class="uz" id="5">{{html jbolo_lang['COM_JBOLO_CLEAR_CUSTOM_MSGS']}}</div>
			</div>
		</div>
	</div>
</div>

<div class="ulist">
	<!--<div id="userid" class="userdetails">
		<div></div>
		<div>
			<span class="uname" id="uname"></span>
		</div>
		<div></div>
	</div>-->
</div>

<div id="jbolo_toolbar" class="jbolo_toolbar">
	<div class="searchusers">
		<input type="text" id="jbolo_search" title="{{html jbolo_lang['COM_JBOLO_SEARCH_PEOPLE']}}" label="{{html jbolo_lang['COM_JBOLO_SEARCH_PEOPLE']}}" placeholder="{{html jbolo_lang['COM_JBOLO_SEARCH_PEOPLE']}}" />
	</div>
</div>
