/**
 * sh404SEF - SEO extension for Joomla!
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier - Weeblr llc - 2015
 * @package     sh404SEF
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     4.7.0.3065
 * @date		2015-10-26
 */

#sbox-btn-close {display: none;}

#sbox-window.sh404sef-popup {
  background-color:   grey;
}

#sbox-overlay.sh404sef-popup {
  background-color:   grey;
}

.sh404sef-popup #content-box {
  border-left: none;
  border-right: none;
}

.icon-48-sh404sef { background-image: url(../images/icon-48-sh404sef-logo.png); }

.icon-32-purge { background-image: url(../images/icon-32-purge.png); }
.icon-32-purgeselected { background-image: url(../images/icon-32-purgeselected.png); }

div.sh404sef-toolbar-title {
  font-size: 22px; font-weight: bold; color: #0B55C4; line-height: 48px;
  padding-left: 135px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

table.adminlist input.inputbox,
table.adminlist textarea.inputbox,
table.adminlist select.inputbox,
table.adminlist img.inputbox,
table.adminlist button.inputbox {
  float: left;
  clear: none;
  min-width: 0px;
  margin: 5px 5px 5px 0px;
}

table.adminlist label.radiobtn,
table.adminlist label.radiobtn {
  float: left;
  clear: none;
  min-width: 0px;
  margin: 5px 10px 5px 0px;
}

#sh-message-box ul{
  color: #0055BB;
  background-position: 4px top;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  border-top: 3px solid #84A7DB;
  border-bottom: 3px solid #84A7DB;
  background-color: #C3D2E5;
  background-image: url(../images/notice-info.png);
}

#sh-error-box ul{
  color: #c00;
  background-position: 4px top;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  list-style: none;
  padding: 10px;
  border-top: 3px solid #84A7DB;
  border-bottom: 3px solid #84A7DB;
  background-color: #E6C0C0;
  background-image: url(../images/notice-alert.png);
  border-color: #DE7A7B;
}
