/**
 * Dashboard
 */

.es-app-wrapper .profile-adverts .djcf_items .item,
.es-widget.adverts .djcf_items .item {
	border-bottom: 1px solid #EAEAEA;
    float: left;
    width: 100%;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.es-app-wrapper .profile-adverts .djcf_items.items-cols1 .item,
.es-widget.adverts .djcf_items.items-cols1 .item {width: 100%;}
.es-app-wrapper .profile-adverts .djcf_items.items-cols2 .item,
.es-widget.adverts .djcf_items.items-cols2 .item {width: 49.9%;}
.es-app-wrapper .profile-adverts .djcf_items.items-cols3 .item,
.es-widget.adverts .djcf_items.items-cols3 .item {width: 33.3%;}
.es-app-wrapper .profile-adverts .djcf_items.items-cols4 .item,
.es-widget.adverts .djcf_items.items-cols4 .item {width: 24.9%;}
.es-app-wrapper .profile-adverts .djcf_items.items-cols5 .item,
.es-widget.adverts .djcf_items.items-cols5 .item {width: 19.9%;}
.es-app-wrapper .profile-adverts .djcf_items.items-cols6 .item,
.es-widget.adverts .djcf_items.items-cols6 .item {width: 16.6%;}
.es-app-wrapper .profile-adverts .djcf_items.items-cols7 .item,
.es-widget.adverts .djcf_items.items-cols7 .item {width: 14.2%;}
.es-app-wrapper .profile-adverts .djcf_items.items-cols8 .item,
.es-widget.adverts .djcf_items.items-cols8 .item {width: 12.4%;}
.es-app-wrapper .profile-adverts .djcf_items.items-cols9 .item,
.es-widget.adverts .djcf_items.items-cols9 .item {width: 11.1%;}
.es-app-wrapper .profile-adverts .djcf_items.items-cols10 .item,
.es-widget.adverts .djcf_items.items-cols10 .item {width: 9.9%;}

.es-app-wrapper .profile-adverts .djcf_items div.title,
.es-widget.adverts .djcf_items div.title {
	float: left;
    width: 100%;
	padding-bottom: 7px;
}
.es-app-wrapper .profile-adverts .djcf_items div.title a.title,
.es-widget.adverts .djcf_items div.title a.title {
	font-weight: bold;
}
.es-app-wrapper .profile-adverts .djcf_items .date_cat,
.es-widget.adverts .djcf_items .date_cat {
	color: #888888;
}
#fd .es-app-wrapper .profile-adverts .djcf_items div.title a.title,
#fd .es-widget.adverts .djcf_items div.title a.title {
	padding-bottom: 6px;
	display: block;
	font-size: 1.1em;
	padding-right: 5px;
}
.es-app-wrapper .profile-adverts .djcf_items div.item span.date,
.es-app-wrapper .profile-adverts .djcf_items div.item span.category,
.es-app-wrapper .profile-adverts .djcf_items div.item span.type, 
.es-app-wrapper .profile-adverts .djcf_items div.item span.price,
.es-widget.adverts .djcf_items div.item span.date,
.es-widget.adverts .djcf_items div.item span.category,
.es-widget.adverts .djcf_items div.item span.type, 
.es-widget.adverts .djcf_items div.item span.price {
	padding-bottom: 3px;
	display: block;
}
.es-app-wrapper .profile-adverts .djcf_items div.title span.price,
.es-widget.adverts .djcf_items div.title span.price {
	font-weight: bold;
	overflow: hidden;
    text-overflow:ellipsis;
}
.es-app-wrapper .profile-adverts .djcf_items .title img,
.es-widget.adverts .djcf_items .title img {
	border: 1px solid #EAEAEA;
    float: left;
	background: #ffffff;
    margin-right: 10px !important;
	margin-bottom: 3px;
    padding: 1px;
    vertical-align: top;
}
.es-app-wrapper .profile-adverts .djcf_items .desc,
.es-widget.adverts .djcf_items .desc {
    float: left;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
}
.es-app-wrapper .profile-adverts .alladverts_link{
	text-align: right;
}
body div#fd.es.view-dashboard .es-app-wrapper{
	padding: 10px;	
}
@media screen and (max-width:767px){
	.es-app-wrapper .profile-adverts .djcf_items .item,
	.es-widget.adverts .djcf_items .item {
		width: 49.9% !important;
	}
	.es-app-wrapper .profile-adverts .djcf_items.items-cols1 .item,
	.es-widget.adverts .djcf_items.items-cols1 .item {
		width: 100% !important;
	}	
}
@media screen and (max-width:567px){
	.es-app-wrapper .profile-adverts .djcf_items .item,
	.es-widget.adverts .djcf_items .item {
		width: 100% !important;
	}
}