/**
 * Shlib - programming library
 *
 * @author      Yannick Gaultier
 * @copyright   (c) Yannick Gaultier 2015
 * @package     shlib
 * @license     http://www.gnu.org/copyleft/gpl.html GNU/GPL
 * @version     0.3.0.448
 * @date        2015-10-26
 */
/* Responsive definitions **********************************************************************************************/
@desktopXXL: ~"only screen and (min-width: 1499px)";
@desktopXL: ~"only screen and (min-width: 1279px)";
@lessthandesktopXL: ~"only screen and (max-width: 1279px)";
@desktop: ~"only screen and (min-width: 992px)";
@tabletXL: ~"only screen and (max-width: 991px)";
@morethantabletXL: ~"only screen and (min-width: 992px)";
@tablet: ~"only screen and (max-width: 767px)";
@tablet2: ~"only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2)";
@morethantablet: ~"only screen and (min-width: 768px)";
@phone: ~"only screen and (max-width: 479px)";
@phone2: ~"only screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2)";
@morethanphone: ~"only screen and (min-width: 480px)";
@ipad: ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)";

/* Utilities ***********************************************************************************************************/
.wbl-fn-no-border(@radius: 0.2em) {
  border: 0 !important;
  border-radius: @radius !important;
  box-shadow: none !important;
}

/* Utilities ***********************************************************************************************************/

/* Shared definitions **************************************************************************************************/

/* Margins */
.wb-mr-right-05 {
  margin-right: 0.5em;
}

.wb-mr-right-1 {
  margin-right: 1em;
}

.wb-mr-left-05 {
  margin-left: 0.5em;
}

.wb-mr-left-1 {
  margin-left: 1em;
}

/* font size */
.wb-xs {
  font-size: 0.25em;
}

.wb-s {
  font-size: 0.5em;
}

.wb-sm {
  font-size: 0.75em;
}

.wb-m {
  font-size: 1em;
}

.wb-l {
  font-size: 1.25em;
}

.wb-xl {
  font-size: 1.5em;
}

.wb-xxl {
  font-size: 2em;
}

.wb-xxxl {
  font-size: 3em;
}
