/**
 * Dashboard
 */
#fd .stream-blog .blog-title
{
	font-size: 16px;
}

#fd .stream-blog .blog-meta
{
	border-bottom: 1px dotted #d7d7d7;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-size: 10px;
}

#fd .stream-blog .blog-image
{
	max-width: 96px;
	border: 1px solid #d7d7d7;
	padding: 2px;
}

#fd .stream-blog .blog-image img
{
	border: 1px solid #d7d7d7;
}

#fd .es-dashboard .app-blog .blog-item + .blog-item
{
	margin-top: 20px;
	border-top: 1px solid #f6f6f6;
	padding-top: 20px;
}

#fd .es-dashboard .app-blog .blog-item .blog-image
{
	background: #fff;
	padding: 2px;
	border: 1px solid #f6f6f6;
}

#fd .es-dashboard .app-blog .blog-item .blog-title
{
	font-size: 14px;
}
#fd .es-dashboard .app-blog .blog-item-meta
{
	margin-top: 6px;
	font-size: 10px;
	color: #666;
}

#fd .es-dashboard .app-blog .blog-actions
{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

#fd .es-dashboard .app-blog .blog-item + .blog-item .blog-actions
{
	top: 20px;
}

#fd .es-dashboard .app-blog .blog-item:hover .blog-actions
{
	display: block;
}

/**
 * Profile
 */
#fd .es-profile .app-blog .blog-list li.blog-item {
	clear: both;
}

#fd .es-profile .app-blog .blog-list > li + li {
	margin-top: 40px;
}

#fd .es-profile .app-blog .blog-list li.blog-item .blog-image{
	max-width: 150px;
	border: 2px solid #eee;
	padding: 4px;
	margin: 0 0 10px 10px;
}

#fd .es-profile .app-blog .blog-list li.blog-item .blog-item-meta,
#fd .es-profile .app-blog .blog-list li.blog-item .blog-text,
#fd .es-profile .app-blog .blog-list li.blog-item p{
	font-size: 11px;
}

#fd .es-profile .app-blog .blog-item .blog-actions{
	display: none;
}

#fd .es-profile .app-blog .blog-item:hover .blog-actions{
	display: inline-block;
}

/**
 * Stream
 */
#fd .es-stream-list .type-blog .blog-description{
	font-size: 11px;
}

#fd .es-stream-list .type-blog .blog-description img{
	padding: 2px;
	margin: 0 0 5px 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #d7d7d7;
}


#fd .app-blog-title {
	font-size: 15px;
	line-height: 17px;
	display: block;
	overflow: hidden;
	margin-right: 20px;
}

#fd .app-blog-meta {
	font-size: 11px;
	line-height: 13px;
	overflow: hidden;
	margin: 3px 20px 10px 0;
}

#fd .app-blog-meta > div {
	float: left;
	position: relative;
}

#fd .app-blog-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150px;
	margin: 0 0 10px;
}

#fd .app-blog-meta > div + div {
	padding-left: 12px;
}

#fd .app-blog-meta > div + div:before {
	content: '';
	display: block;
	position: absolute;
	width: 2px;
	height: 2px;
	background: #ccc;
	left: 5px;
	top: 50%;
	margin: -1px 0 0;
}

#fd .app-blog-item {
	position: relative;
}

#fd.es .app-blog-item .es-stream-control {
	top: 0;
	right: 0;
}

#fd .app-blog-item + .app-blog-item {
	border-top: 1px solid #ddd;
	padding-top: 15px;
	margin-top: 15px;
}

#fd.es .app-blog-item + .app-blog-item .es-stream-control {
	top: 10px;
}

#fd .app-blog-more {
	margin-top: 10px;
	width: 100%;
}

#fd .app-blog-more > div {
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
}

#fd .app-blog-more .btn {
	font-size: 11px;
}








.meter {
	height: 20px;
	background: #9e9e9e;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
	display: block;
	height: 100%;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(43,194,83)),
			color-stop(1, rgb(84,240,84))
	);
	background-image: -moz-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
	);
	-webkit-box-shadow:
			inset 0 2px 9px  rgba(255,255,255,0.3),
			inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:
			inset 0 2px 9px  rgba(255,255,255,0.3),
			inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow:
			inset 0 2px 9px  rgba(255,255,255,0.3),
			inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}
.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image:
			-webkit-gradient(linear, 0 0, 100% 100%,
			color-stop(.25, rgba(255, 255, 255, .2)),
			color-stop(.25, transparent), color-stop(.5, transparent),
			color-stop(.5, rgba(255, 255, 255, .2)),
			color-stop(.75, rgba(255, 255, 255, .2)),
			color-stop(.75, transparent), to(transparent)
			);
	background-image:
			-moz-linear-gradient(
					-45deg,
					rgba(255, 255, 255, .2) 25%,
					transparent 25%,
					transparent 50%,
					rgba(255, 255, 255, .2) 50%,
					rgba(255, 255, 255, .2) 75%,
					transparent 75%,
					transparent
			);
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after {
	display: none;
}

@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

.orange > span {
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
}

.red > span {
	background-color: #f0a3a3;
	background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
	background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	background-image: none;
}



.es-request_found_compaign_details{
	background: #f4f4f4;
	box-shadow: 0px 0px 1px #898181;
	padding: 3px;
	width: 100%;
	text-align: center;
}

.es-request_found_compaign_details .price{
	width: 30%;
	float: left;
}
.es-request_found_compaign_details .price .raised{
	font-size: 18px;
}
.es-request_found_compaign_details .price .raised span{
	color: #f98b23;
	font-weight: bold;
}
.es-request_found_compaign_details .price .goal{
	font-size: 16px;
}
.es-request_found_compaign_details .price .goal span{
	color: #000;
	font-weight: bold;
}
.es-request_found_compaign_details .donated{
	width: 15%;
	float: left;
	font-size: 16px;
	padding-top: 3px;
}
.es-request_found_compaign_details .donated .number,
.es-request_found_compaign_details .donors .number,
.es-request_found_compaign_details .days .number{
	color: #000;
	font-weight: bold;
}

.es-request_found_compaign_details .donors{
	width: 15%;
	float: left;
	font-size: 16px;
	padding-top: 3px;
}
.es-request_found_compaign_details .days{
	width: 15%;
	float: left;
	font-size: 16px;
	padding-top: 3px;
}
.es-request_found_compaign_details .donate_now{
	width: 25%;
	float: left;
}
.es-request_found_compaign_details .donate_now button{
	background: #f98b23;
	border: 1px solid #f2761d;
	padding: 6px;
	border-radius: 16px;
	color: #fff;
	margin-top: 11px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.es-request_found_compaign_details .slide{
	clear: both;
	padding: 10px 0;
}
.es-request_found_compaign_details .donate_now button a{
	color: #fff;
}
.es-request_found_compaign_details .donate_now button:focus{
	outline: indigo;
}
.es_reuqest_found_title_panel{
	text-align: center;
	padding: 5px 0;
}
.es_reuqest_found_title_panel a{
	color: #000;
	font-weight: bold;
	font-size: 18px;
}








































